<img src={{movie.image}} alt="movie image"> //est-ce qu'on peut utiliser this à la place? 

<div>
    <h4>{{movie.title}}</h4>
    <h5>{{movie.directory}}</h5>

    <h6>Stars</h6>
        <ul class= "stars">
            <li>{{movie.stars[0]}}</li>
            <li>{{movie.stars[1]}}</li>
            <li>{{movie.stars[2]}}</li>
        </ul>    
    
    <p>{{movie.description}}</p>
    <div>{{movie.showtimes}}</div>
</div>
